body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
h2{
    color: navy;
    text-decoration: underline;
    text-align: center;
}
p{
    text-align: center;
}
h3{
    color: darkred;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}